/* ===== MENU ===== */
.menu {
	float: left;
	height: 700px;;
	width: 70px;
	background: #4768b5;
	background: -webkit-linear-gradient(#4768b5, #35488e);
	background: -o-linear-gradient(#4768b5, #35488e);
	background: -moz-linear-gradient(#4768b5, #35488e);
	background: linear-gradient(#4768b5, #35488e);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

.menu .items {
	list-style: none;
	margin: auto;
	padding: 0;
}

.menu .items .item {
	height: 70px;
	border-bottom: 1px solid #6780cc;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #9fb5ef;
	font-size: 17pt;
}

.menu .items .item-active {
	background-color: #5172c3;
	color: #FFF;
}

.menu .items .item:hover {
	cursor: pointer;
	background-color: #4f6ebd;
	color: #cfe5ff;
}

/* === CONVERSATIONS === */
.discussions {
	width: 20%;
	height: 700px;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.20);
	/* overflow: hidden; */
	overflow-y: scroll;
	/* background-color: #87a3ec; */
	display: inline-block;
}

.discussions .discussion {
	width: 100%;
	height: 90px;
	background-color: #1F1D2B;
	/* border-bottom: solid 1px #E0E0E0; */
	display: flex;
	align-items: center;
	cursor: pointer;
}

.discussions .search {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #E0E0E0;
}

.discussions .search .searchbar {
	height: 40px;
	background-color: #FFF;
	width: 70%;
	padding: 0 20px;
	border-radius: 50px;
	border: 1px solid #EEEEEE;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.discussions .search .searchbar input {
	margin-left: 15px;
	height: 38px;
	width: 100%;
	border: none;
	font-family: 'Montserrat', sans-serif;
	;
}

.discussions .search .searchbar *::-webkit-input-placeholder {
	color: #E0E0E0;
}

.discussions::-webkit-scrollbar {
	height: 0px;
	width: 0px;
}

.discussions .search .searchbar input *:-moz-placeholder {
	color: #E0E0E0;
}

.discussions .search .searchbar input *::-moz-placeholder {
	color: #E0E0E0;
}

.discussions .search .searchbar input *:-ms-input-placeholder {
	color: #E0E0E0;
}

.discussions .message-active {
	width: 98.5%;
	height: 90px;
	background-color: #29253f;
	border-bottom: solid 1px #1a1623;
	color: white;
}

.photo {
	margin-left: 20px;
	display: block;
	width: 45px;
	height: 45px;
	background: #E6E7ED;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.online {
	position: relative;
	top: 30px;
	left: 35px;
	width: 13px;
	height: 13px;
	background-color: #8BC34A;
	border-radius: 13px;
	border: 3px solid #FAFAFA;
}

.desc-contact {
	height: 51px;
	width: 50%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.discussions .discussion .name {
	margin: 5px 0 0 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 11pt;
	color: #ffffff;
}

.discussions .discussion .message {
	margin: 6px 0 0 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 9pt;
	color: #c9c3c3;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 200px;
	display: block;
	overflow: hidden;
}

.timer {
	margin-left: 15%;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	padding: 3px 8px;
	color: #BBB;
	background-color: #1F1D2B;
	border: 1px solid #413d5b;
	border-radius: 15px;
}

.header-chat {
	background-color: #004f90;
	height: 90px;
	box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.100);
	display: flex;
	align-items: center;
}

.chat-disscus .header-chat .icon {
	margin-left: 30px;
	color: #fdfdfd;
	font-size: 14pt;
}

.chat-disscus .header-chat .name {
	margin: 0 0 0 20px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 13pt;
	color: #ffffff;
}

.chat-disscus .header-chat .right {
	position: absolute;
	right: 40px;
}

.chat-disscus .messages-chat {
	padding: 25px 35px;
}

.chat-disscus .messages-chat .message {
	display: flex;
	align-items: center;
	margin-bottom: 2px;
}
.chat-disscus .messages-chat .message:not(:first-child){
	padding-top: 1rem;
}
.photo {
	display: block;
	width: 45px;
	height: 45px;
	background: #E6E7ED;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.chat-disscus .messages-chat .text {
	margin: 0 35px;
	background-color: #f6f6f6;
	padding: 15px;
	border-radius: 12px;
}

.text-only {
	margin-left: 45px;
}

.time {
	font-size: 10px;
	color: lightgrey;
	margin-bottom: 10px;
	margin-left: 85px;
}

.response-time {
	float: right;
	margin-right: 40px !important;
}

.response {
	float: right;
	margin-right: 0px !important;
	margin-left: auto;
	/* flexbox alignment rule */
}
.response:nth-child(2n){
	float: right;
	margin-right: 0px !important;
	margin-left: auto;
}
.response .text {
	background-color: #e3effd !important;
}

.footer-chat {
	width: calc(65% - 270px);
	height: 80px;
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0rem;
	background-color: transparent;
	border-top: 2px solid #eeeeee4c;
}

.chat-disscus .footer-chat .icon {
	margin-left: 30px;
	color: #C0C0C0;
	font-size: 14pt;
}

.chat-disscus .footer-chat .send {
	color: #fff;
	background-color: #4f6ebd;
	position: relative;
	right: 20px;
	padding: 12px 12px 12px 12px;
	border-radius: 50px;
	font-size: 14pt;
	margin-left: 590px;
}

.chat-disscus .footer-chat .name {
	margin: 0 0 0 20px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 13pt;
	color: #515151;
}

.chat-disscus .footer-chat .right {
	position: absolute;
	right: 40px;
}

.write-message {
	border-radius: 10px;
	border: none !important;
	width: 36%;
	height: 50px;
	margin-left: 20px;
	padding: 10px;
	position: fixed;
	margin-left: 75px;
}

.footer-chat *::-webkit-input-placeholder {
	color: #C0C0C0;
	font-size: 13pt;
}

.footer-chat input *:-moz-placeholder {
	color: #C0C0C0;
	font-size: 13pt;
}

.footer-chat input *::-moz-placeholder {
	color: #C0C0C0;
	font-size: 13pt;
	margin-left: 5px;
}

.footer-chat input *:-ms-input-placeholder {
	color: #C0C0C0;
	font-size: 13pt;
}

.clickable {
	cursor: pointer;
}

.main-container {
	overflow: hidden;
}

.discussions {
	width: 37%;
}

.chat-disscus {
	width: calc(60% - 0px);
}

.chat-main {
	margin-left: 0px;
	height: 300px;
	width: calc(100% + 50px);
}

.write-message {
	background-color: #004f90;
	color: white;
	letter-spacing: 1.0px;
}

.time {
	margin-bottom: 0px;
}

.chat-disscus {
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.20);
}

.chat-disscus .messages-chat {
	padding-left: 20px;
	padding-right: 0px;
}

.chat-disscus .messages-chat .text {
	margin-left: 20px;
}

.message {
	display: block;
}

/*=================================== REPONSIVE ==============================*/
/* Tablet & Mobile */
@media ( max-width : 63.9375em) {
}

/* PC */
@media ( min-width : 64em) {
	.chat-disscus .messages-chat {
		overflow-y: scroll;
		height: 514px;
	}
	.chat-disscus .messages-chat .text {
		padding: 10px;
		max-width: 490px;
	}
	/* .time {
		margin-left: 25px;
	} */
}

/* Mobile */
@media ( max-width : 46.1875em) {
	.discussions {
		display: none;
	}
	.chat-disscus {
		width: 100%;
		height: 545px;
		overflow: hidden;
	}
	.chat-disscus .messages-chat {
		overflow-y: scroll;
		height: 510px;
	}
	.photo {
		width: 35px;
		height: 35px;
		margin-top: 0px;
		margin-right: 10px;
	}
	.header-chat {
		height: 50px;
	}
	.chat-disscus .messages-chat .text {
		padding: 10px;
		max-width: 240px;
	}
	.chat-disscus .messages-chat .message .text {
		margin-left: 10px;
	}
	.chat-disscus .text-only .text {
		margin-left: 10px;
	}
	.online {
		margin-top: -5px;
		margin-left: -10px;
	}
	.icon-smile {
		display: none;
	}
	.chat-disscus .footer-chat .send {
		margin-left: 280px;
	}
	.write-message {
		margin-left: 0px;
		width: 60%;
		border-radius: 10px;
	}
	.text {
		max-width: 240px;
	}
	.response-time {
		margin: 0;
		padding: 0;
	}
}

.list-img-post {
	z-index: 999;
}

/*=====================*/
.name .countMesages {
	 color: white;
    background: red;
     padding: 5px 3px;
    border-radius:50%;
    margin-left: 10px;
    font-size: 8px;
}
.message .text-only{
	margin-right: 0px;
}