@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

:root {
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #e9e6df;
  color: #262626;
  font-family: "Poppins", sans-serif;
}


nav {
  padding: 10px;
  text-align: center;
}

/* ========nav 1========== */
#nav-horizontal {
  margin-left: 250px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 15px 0;
}

nav ul li {
  display: inline-block;
  list-style: none;
  font-size: 18px;
  padding: 0 10px;
  margin: 0 20px;
  cursor: pointer;
  position: relative;
}

nav ul li:after {
  content: '';
  width: 0;
  height: 3px;
  background: #2192ff;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

nav ul li:hover::after {
  width: 100%;
}

nav ul .dropdown li:hover::after {
  width: 0%;

}

nav ul .search:hover::after {
  width: 0%;

}

nav.primary-navigation {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 16px;
}

#navbarSupportedContent {
  margin-left: 10rem;
}

#navbarSupportedContent ul {
  margin-bottom: 0px;
}

nav.primary-navigation li a {
  color: black;
  font-size: 17px;
}

nav.primary-navigation li a:hover {
  color: #3ca0e7;
}


nav.primary-navigation li:hover {
  cursor: pointer;
}

nav.primary-navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
}

nav.primary-navigation ul li:hover>ul,
nav.primary-navigation ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #ccc;
}

nav.primary-navigation ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}

nav.primary-navigation ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid #3ca0e7;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}

a:hover {
  color: #3CA0E7;
}

ul li ul li a {
  transition: all 0.5s ease;
}

nav.primary-navigation li a:hover {
  text-decoration: none;

}

/* Search */
.search__container {
  position: relative;
}

nav ul .search {
  width: 30rem;
}

.input-box {
  position: relative;
  height: 40px;
  max-width: 900px;
  width: 100%;
  background: #fff;
  margin: 0 20px;
  border-radius: 20px;
}

.input-box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input-box i {
  left: 20px;
  font-size: 20px;
  color: #707070;
}

.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 15px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 65px;
  background-color: #f1f2f6;
  border-radius: 20px;
}

/* Responsive */
@media screen and (max-width: 1000px) {
  .input-box {
    height: 66px;
    margin: 0 8px;
  }

  .input-box i {
    left: 12px;
    font-size: 25px;
  }

  .input-box input {
    padding: 0 112px 0 50px;
  }
}


/*  */


#nav-horizontal {
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

#nav-horizontal ul li ul {
  background-color: white;
  z-index: 100;
}

@media screen and (max-width: 1100px) {
  #nav-horizontal {
    margin-left: 72px;
  }

  .navbar-light .navbar-toggler {
    margin-left: 0px;
    display: flex;
  }

  #nav-horizontal ul {
    padding-left: 0px;
    display: grid;
  }

  #nav-horizontal ul li {
    padding: 5px;
  }

  nav ul li:hover::after {
    width: 0%;
  }

  #nav-horizontal ul li ul {
    background-color: white;
    z-index: 100;
  }

  #navbarSupportedContent {
    margin-left: 0;
  }

  nav ul .search {
    width: auto;
  }
}

@media screen and (max-width: 1300px) {
  nav ul .search {
    width: auto;
  }
}


/* =========nav sidebar============ */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  height: 100%;
  padding: 40px 10px 30px 10px;
  background: #ffffff;
  border-right: 1px solid #dbdbdb;
  transition: 0.3s;
}

.sidebar-header {
  width: 100%;
  /* text-align: center; */
  margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  font-size: 18px;
}

.sidebar a {
  height: 60px;
  background: transparent;
  border: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
.sidebar a:hover{
  text-decoration: none;
  color: #000;
}
.sidebar a>span {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 48px;
  padding: 0 12px;
  border-radius: 24px;
  line-height: 1;
}

.sidebar a:hover>span {
  background: #f2f2f2;
}

.sidebar a:hover>span :is(i, img) {
  scale: 1.05;
}

.sidebar a>span>span {
  transition: 0.3s;
}

@media (width < 1100px) {
.sidebar-header {
  display: none !important;
}

  .logo-icon {
      display: block;
  }

  .sidebar {
      width: 72px;
  }

  .sidebar a>span {
      width: 50px;
  }

  .sidebar a>span>span {
      opacity: 0;
      visibility: hidden;
  }
}

.sidebar a i {
  position: relative;
  font-size: 18px;
  transition: 0.2s;
}

.sidebar a img {
  width: 28px;
  height: 28px;
  transition: 0.2s;
}

.sidebar a i>span {
  display: grid;
  place-items: center;
  height: 20px;
  padding: 0 4px;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  right: -10px;
  border: 1px solid #ffffff;
  background: #ff2f40;
  color: #f9f9f9;
  font-size: 12px;
  font-family: BlinkMacSystemFont;
  font-style: normal;
}

.sidebar a i>em {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  position: absolute;
  top: 2px;
  right: -1px;
  border: 1px solid #ffffff;
  background: #ff2f40;
  color: #f9f9f9;
  font-size: 12px;
  font-family: BlinkMacSystemFont;
  font-style: normal;
}

.sidebar a span {
  font-size: 17px;
}

.sidebar>nav {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar>nav a:last-child {
  margin-top: auto;
}

/* ==========main section========== */

.main {
  position: relative;
  margin-top: 40px;
  display: flex;
  padding: 0px;
  gap: 50px;
  margin-left: 250px;

}
.close_mess i{
  cursor: pointer;
}
.container_message {
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
}

.people-list {
  width: 300px;
  float: left;
  border-right: 1px solid #dbdbdb;
}

.people-list .search {
  padding: 20px 0px 20px 20px;
}

.people-list input {
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 14px;
  color: black;
  background-color: #f1f2f6;
  width: 90%;
  font-size: 14px;
}

.people-list .fa-search {
  position: relative;
  left: -30px;
}

.people-list ul {
  padding: 20px;
  height: 450px;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.people-list ul::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.people-list ul li {
  margin-bottom: 20px;
  list-style-type: none;
}

.people-list ul li:hover {
  background-color: #f1f2f6;
  border-radius: 10px;
  cursor: pointer;
}

.people-list ul a:hover {
  background-color: #f1f2f6;
  border-radius: 10px;
  cursor: pointer;
  /* text-decoration: none; */
}
.people-list ul a{
  color: #000;
}

.people-list img {
  float: left;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.people-list .about {
  float: left;
  margin-top: 8px;
}

.people-list .about {
  padding-left: 8px;
}

.people-list .status {
  color: #92959E;
  font-size: 13px;
}

.chat {
  width: 600px;
  float: left;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
  height: 500px;
}
.container_message .message-content{
  opacity: 0;
    transition: opacity 0.12s ease;
    display: none;
}
.container_message.active .message-content{
  opacity: 1;
  display: block;
}
.container.active .message-null{
  margin-left: -100rem;
}
.message-null{
  text-align: center;
  margin: 15rem 0rem;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 1px solid #dbdbdb;
}

.chat .chat-header img {
  float: left;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}

.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}

.chat .chat-header .chat-num-messages {
  color: #92959E;
  font-size: 13px;
}

.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}

.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  height: 390px;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  background-color: #f1f2f6;
}

.chat .chat-history ul {
  padding-left: 0px;
}

.chat .chat-history::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.chat .chat-history li {
  list-style-type: none;
}
.chat .chat-history li:nth-child(2n){
  margin-top: 1rem;
}
/* .chat .chat-history li:nth-child(2n+1){

} */
.chat .chat-history .message-data {
  margin-bottom: 15px;
  padding-top: 0.5rem;
}

.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
  font-size: 13px;
  margin-left: 11rem;
}

.chat .chat-history .message {
  color: black;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 20px;
  /* width: 90%; */
  position: relative;
}

.chat .chat-history .other-message {
  display: -webkit-inline-box;
  background-color: white;
  width: 50%;
  border: 0.2px solid #a8aab1;
  text-align: justify;
}

.chat .chat-history .my-message {
  background: #0084ff;
  color: white;
  width: 50%;
  border: 0.2px solid #a8aab1;
  margin-left: 17rem;
  text-align: justify;
}

.chat .chat-history .my-message:after {
  border-bottom-color: #0084ff;
  left: 93%;
}

.chat .chat-message {
  padding: 10px 30px 0px 30px;
    height: 0rem;
}

.chat .chat-message input {
  position: relative;
  width: 90%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 20px;
  resize: none;
  background-color: #f1f2f6;
}

.chat-message input {
  border-radius: 20px;
  border: none;
  padding: 14px;
  color: black;
  background-color: #f1f2f6;
  width: 90%;
  font-size: 14px;
  outline: none;
}

.chat-message .fa-paper-plane {
  position: relative;
  /* left: 31rem;
  bottom: 2.8rem; */
}



.chat-message .fa-paper-plane:hover {
  color: #75b1e8;
  cursor: pointer;
}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}earfix

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}
.mess-content{
  margin-top: 1.5rem;
}
.clearfix img.avatar-fr {
  width: 5%;
  border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
margin-bottom: 3rem
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* Responsive */
@media screen and (max-width: 1000px) {

  .container_message,
  .chat .chat-header,
  .chat {
    width: 300px;
  }

  .chat .chat-history {
    width: 300px;
  }
  .chat .chat-history .my-message {
    margin-left: 8rem;
  }
  .chat-message .fa-paper-plane {
    position: relative;
    /* left: 13rem;
    bottom: 2.8rem; */
  }
  .clearfix img.avatar-fr{
    width: 15%;
  }
  .chat .chat-history .message-data-time{
    margin-left: 3rem;
  }
  .main {
    margin-left: 70px;
  }

  .container_message {
    border: none;
  }

  .people-list ul {
    height: 250px;
  }

  .people-list {
    border-bottom: 1px solid #dbdbdb;
  }
}
/* =======dialog create post=========== */
.main_create_post{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem;
  
}
::selection{
  color: #fff;
  background: #1a81ff;
}
#favDialog, .main_create_post.container{
  width: 500px;
  height: 480px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  transition: height 0.2s ease;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
  border: none;
}
#favDialog{
  padding: 0px !important;
  margin: 9rem 35rem;
}
#favDialog div#close_createPost{
  border: none;
}
#favDialog div .fa-xmark{
  position: absolute;
  right: 10px;
  top: 7px;
  cursor: pointer;
}

.container{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.main_create_post.container.active{
  height: 590px;
}
.container .wrapper{
  width: 1000px;
  display: flex;
}
.container .wrapper section{
  width: 500px;
  border-radius: 10px;
}
.container img{
  cursor: pointer;
}
.container .post{
  transition: margin-left 0.18s ease;
  margin-bottom: 0px !important;
  height: 480px !important;
}
.container.active .post{
  margin-left: -100rem;
}
.post header{
  font-size: 22px;
  font-weight: 600;
  padding: 17px 0px 17px 40px;
  text-align: center;
  border-bottom: 1px solid #bfbfbf;
}

.post form{
  margin: 20px 25px;
}
.post form .content,
.audience .list li .column{
  display: flex;
  align-items: center;
}

.post form .content img{
  cursor: default;
  max-width: 52px;
  border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
}
.post form .content .details{
  margin: -3px 0 0 12px;
}
form .content .details p{
  font-size: 17px;
  font-weight: 500;
}
.content .details .privacy{
  height: 25px;
  cursor: pointer;
  padding: 0 10px;
  font-size: 11px;
  margin-top: 3px;
  border-radius: 5px;
  align-items: center;
  max-width: 98px;
  background: #E4E6EB;
  justify-content: space-between;
}
.details .privacy span{
  font-size: 13px;
  margin-top: 1px;
  font-weight: 500;
}
.details .privacy i:last-child{
  font-size: 13px;
  margin-left: 1px;
}
form :where(textarea, button){
  width: 100%;
  outline: none;
  border: none;
}
form textarea{
  resize: none;
  font-size: 18px;
  margin-top: 30px;
  min-height: 100px;
}
form textarea::placeholder{
  color: #858585;
}
form textarea:focus::placeholder{
  color: #b3b3b3;
}
form :where(.theme-emoji, .options){
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.theme-emoji img:last-child{
  max-width: 24px;
}
form .options{
  height: 57px;
  margin: 15px 0;
  padding: 0 15px;
  border-radius: 7px;
  border: 1px solid #B9B9B9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
form .options :where(.list, li),
.audience :where(.arrow-back, .icon, li .radio){
  display: flex;
  align-items: center;
  justify-content: center;
}
form .options p{
  color: #595959;
  font-size: 14px;
  font-weight: 500;
  cursor: default;
  margin-bottom: 0px;
}
form .options .list{
  list-style: none;
  margin-bottom: 0px;
}
.options .list li{
  height: 42px;
  width: 42px;
  margin: 0 -1px;
  cursor: pointer;
  border-radius: 50%;
}
.options .list li:hover{
  background: #f0f1f4;
}
.options .list li img{
  width: 23px;
}
form button{
  height: 53px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #BCC0C4;
  cursor: no-drop;
  border-radius: 7px;
  background: #e2e5e9;
  transition: all 0.3s ease;
}
form textarea:valid ~ button{
  color: #fff;
  cursor: pointer;
  background: #4599FF;
}
form textarea:valid ~ button:hover{
  background: #1a81ff;
}
.container .audience{
  opacity: 0;
  transition: opacity 0.12s ease;
}
.container.active .audience{
  opacity: 1;
  margin-left: 68.5rem;
}
.audience header{
  padding: 17px 0;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #bfbfbf;
}
.audience header .arrow-back{
  position: absolute;
  left: 25px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 15px;
  color: #747474;
  border-radius: 50%;
  background: #E4E6EB;
}
.audience header p{
  font-size: 22px;
  font-weight: 600;
  margin-left: 4.5rem;
  padding-top: 0.5rem;
}
.audience .content{
  margin: 20px 25px 0;
}
.audience .content p{
  font-size: 17px;
  font-weight: 500;
}
.audience .content span{
  font-size: 14px;
  color: #65676B;
}
.audience .list{
  margin: 15px 16px 20px;
  list-style: none;
}
.audience .list li{
  display: flex;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 12px 10px;
  border-radius: 7px;
  align-items: center;
  justify-content: space-between;
}
.list li.active,
.audience .list li.active:hover{
  background: #E5F1FF;
}
.audience .list li:hover{
  background: #f0f1f4;
}
.audience .list li .column .icon{
  height: 50px;
  width: 50px;
  color: #333;
  font-size: 23px;
  border-radius: 50%;
  background: #E4E6EB;
}
.audience .list li.active .column .icon{
  background: #cce4ff;
}
.audience .list li .column .details{
  margin-left: 15px;
}
.list li .column .details p{
  font-weight: 500;
}
.list li .column .details span{
  font-size: 14px;
  color: #65676B;
}
.list li .radio{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #707070;
}
.list li.active .radio{
  border: 2px solid #4599FF;
}
.list li .radio::before{
  content: "";
  width: 12px;
  height: 12px;
  border-radius: inherit;
}
.list li.active .radio::before{
  background: #4599FF;
}


@media screen and (max-width: 1200px) {
  #favDialog{
    margin: 9rem 1.3rem;
  }
  .main_create_post{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0rem;
      
  }
      .container .wrapper section{
        width: 350px;
      }
      .container.active .audience{
          margin-left: 78rem;
      }
      form .options p {
          display: none;
        }
        .audience header p{
          font-size: 17px;
          margin-bottom: 0;
        }
        .audience .list li .column .icon{
          background: none;
        }
}

/* ========thông báo========= */
#favDialog_notifications{
border: none;
border-radius: 15px;
outline: none;
margin: 4rem 25rem;
}
#favDialog_notifications div#close_notifications{
border: none;
}
#favDialog_notifications div i{
position: absolute;
right: 10px;
top: 7px;
cursor: pointer;
}
#favDialog_notifications{
height: 600px;
overflow: auto;
overflow: -moz-scrollbars-none;
-ms-overflow-style: none;
}
#favDialog_notifications::-webkit-scrollbar { 
width: 0 !important;
display: none; 
}
.container_notifications {
margin: 2rem;
width: 700px;
background-color: var(--White);
padding: 1.5rem 1rem;
border-radius: 0.5rem;
border: none;
outline: none;
}
header {
display: flex !important;
align-items: center;
justify-content: space-between;
margin-bottom: 2rem;
}
.notif_box {
display: flex;
align-items: center;
}
#notifes {
background-color: var(--Blue);
margin-left: 0.5rem;
width: 35px;
display: flex;
align-items: center;
justify-content: center;
height: 30px;
color: var(--White);
font-weight: 800;
border-radius: 0.5rem;
}
#mark_all {
cursor: pointer;
}
#mark_all:hover {
color: var(--Blue);
}
p {
color: var(--Dark-grayish-blue);
}
main {
display: flex;
flex-direction: column;
gap: 1rem;
}
.notif_card {
display: flex;
align-items: center;
border-radius: 0.5rem;
padding: 1rem;
margin-bottom: 1rem;
cursor: pointer;
}
img{
width: 50px;
}
.description{
margin-left: 1rem;
display: flex;
flex-direction: column;
justify-content: space-between;
}
strong{
color: var(--Very-dark-blue);
cursor: pointer;
}
strong:hover{
color: var(--Blue);
}
.unread{
background-color: var(--Light-grayish-blue-1) !important;
}
.unread p:first-of-type::after{
content: " ";
background-color: var(--Red);
width: 10px;
height: 10px;
display: inline-block;
border-radius: 50%;
}

@media screen and (max-width : 550px) {
.container_notifications{
  margin: 0;
  padding: 0;
  width: fit-content;
}
.container_notifications header{
  display: block !important;
}
.container_notifications main{
  max-width: 19rem;
}
#favDialog_notifications{
  margin: 8rem 2rem;
}
}

/* Dialog follow */
#favDialog_follow{
  border: none;
  border-radius: 15px;
  width: 400px;
  margin: 10rem 35rem;
}
#favDialog_follow div#close_follow{
  border: none;
}
#favDialog_follow div i{
  position: absolute;
  right: 10px;
  top: 7px;
  cursor: pointer;
}

.list-following::-webkit-scrollbar { 
  width: 0 !important;
  display: none; 
}

.list-following{
  height: 300px;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.follow{
  padding: 20px;
}

.profile-card-follow{
  width: auto;
  display: grid; 
  grid-template-columns: 20% 60% 20%;
  margin-bottom: 10px;
}

.profile-card-follow .profile-pic{
  flex: 0 0 auto;
  padding: 0;
  background: none;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.profile-card-follow:first-child .profile-pic{
  width: 70px;
  height: 70px;
}

.profile-card-follow .profile-pic img{
  border: none;
}

.profile-card-follow .username{
  font-weight: 500;
  font-size: 14px;
  color: #000;
}

.sub-text{
  color: rgba(0, 0, 0, 0.5);
  font-size:12px;
  font-weight: 500;
  margin-top: 5px;
}

.action-btn{
  opacity: 1;
  font-weight: 700;
  font-size: 12px;
  border: none;
  background: white;
  color: #1a81ff;
  outline: none;
}
.action-btn:hover{
  scale: 1.05;
}
.suggestion-text{
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  padding-bottom: 20px;
  border-bottom: 1px solid #bebebe;
}

@media (max-width : 550px){
#favDialog_follow{
  margin: 13rem 1.3rem;
}
}
/* End dialog follow */

/* Dialog setting */
#favDialog_setting{
  border: none;
  border-radius: 15px;
  width: 400px;
  margin: 13rem 35rem;
}
#favDialog_setting div#close_setting{
  border: none;
}
#favDialog_setting div i.fa-xmark{
  position: absolute;
  right: 10px;
  top: 7px;
  cursor: pointer;
}
/* language */
select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border: 1px solid #bebebe;
  border-radius: 5px;
  background: white;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:#000000;
  cursor:pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 15em;
  height: 3em;
  line-height: 3;
  background: #e3e3e3;
  overflow: hidden;
  border-radius: .25em;
  margin: 0 4.1rem;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #c8c8c8;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: #000000;
}
@media (max-width : 550px){
#favDialog_setting{
  margin: 16rem 1.4rem;
}
}
/* darkmode */
.darkmode {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

label.toggle-btn {
  width: 100px;
  height: 50px;
  /* background-color: #dbeede; */
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3);
  margin: 0 2rem;
}

span.toggle {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ffbf00;
  border-radius: 50px;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.205);
}

input#toggle-btn{
  display: none;
}

input:checked ~ label span {
  background-color: #000000;
  transform: translateX(50px);
}
.darkmode i.fa-sun,
.darkmode i.fa-cloud-moon{
  font-size: 30px;
}

/* btn account */
.button-container {
  display: flex;
  margin-top: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.button {
  padding: 12px 12px;
  cursor: pointer;
  transition: all 150ms linear;
  text-align: center;
  color: #fff;
  border: 0 none;
  border-radius: 36px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  box-shadow: 2px 5px 10px #e4e4e4;
}
.button:hover {
  transition: all 150ms linear;
  opacity: .85;
}
.button:active {
  transition: all 150ms linear;
  opacity: .75;
}
.button:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}
.button.-dark {
  color: #FFFFFF;
  background: #161616;
}
.button.-dark:focus {
  outline: 1px dotted white;
  outline-offset: -4px;
}

/* =====scroll========= */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}