.author-img_prof {
	width: 140px;
	height: 140px;
}

.profile-p-name {
	font-size: 25px;
	text-align: center;
	color: white;
}


.profile-p-name:after {
	content: "";
	width: 10px;
	height: 10px;
	background-color: #22b07d;
	border-radius: 50%;
	margin-left: 8px;
	display: inline-block;
}

.prof {
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 70px;
	margin-top: 200px;
}

.name {
	padding-left: 20px;
	font-size: 23px;
	margin-top: 20px;
	color: white;
	margin-bottom: 5px;
}

.profile-p-sub {
	padding-left: 20px;
}

.video-author-prof svg {
	background-color: #0aa0f7;
	width: 25px;
	right: 12px;
	bottom: 12px;
}

.details-prof {
	margin-top: -50px;
}

.video-content .nam {
	text-align: center;
	margin-top: -20px
}

.details-prof .fl {
	display: flex;
	justify-content: space-around;
	padding: 0 35%;
	font-size: 15;
}


/* Mobile */
@media (max-width: 46.1875em) {
	.details-prof .fl {
		display: block;
		padding: 0 10%;
		font-size: 12px;
	}

	.fl p {
		text-align: center;
	}
}

.video-detail {
	display: block;
}

.video-content {
	margin-bottom: 20px;
}

.user-img {}

.list-img-post {
	margin-top: 10px;
	display: flex;
	max-width: 100%;
	overflow-x: scroll;
}

.list-img-post::-webkit-scrollbar-thumb {
	background-color: rgb(78, 11, 103);
	border-radius: 10px;
}

.list-img-post::-webkit-scrollbar {
	height: 7px;
	border-radius: 10px;
}

.video-p-title {
	width: 100%;
}

.post {
	padding: 0 0px;
}

.video-p-subtitle {
	max-width: 100%;
}

.background-prof {
	margin-top: 0px;
	position: absolute;
}

.bc-p {
	background-color: #1F1D2B;
	position: fixed;
	margin-top: 340px;
	height: 350px;
	width: 100%;
}