@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
:root {
    --Red: hsl(1, 90%, 64%);
    --Blue: hsl(219, 85%, 26%);
    --White: hsl(0, 0%, 100%);
    --Very-light-grayish-blue: hsl(210, 60%, 98%);
    --Light-grayish-blue-1: hsl(211, 68%, 94%);
    --Light-grayish-blue-2: hsl(205, 33%, 90%);
    --Grayish-blue: hsl(219, 14%, 63%);
    --Dark-grayish-blue: hsl(219, 12%, 42%);
    --Very-dark-blue: hsl(224, 21%, 14%);
  }
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #e9e6df;
    color: #262626;
    font-family: "Poppins", sans-serif;
}


nav {
    padding: 10px;
    text-align: center;
}

/* ========nav 1========== */
#nav-horizontal {
    margin-left: 250px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 18px;
    padding: 0 10px;
    margin: 0 20px;
    cursor: pointer;
    position: relative;
}

nav ul li:after {
    content: '';
    width: 0;
    height: 3px;
    background: #2192ff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

nav ul .dropdown li:hover::after {
    width: 0%;

}

nav ul .search:hover::after {
    width: 0%;

}

nav.primary-navigation {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 16px;
}

#navbarSupportedContent {
    margin-left: 10rem;
}

#navbarSupportedContent ul {
    margin-bottom: 0px;
}

nav.primary-navigation li a {
    color: black;
    font-size: 17px;
}

nav.primary-navigation li a:hover {
    color: #3ca0e7;
}


nav.primary-navigation li:hover {
    cursor: pointer;
}

nav.primary-navigation ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
}

nav.primary-navigation ul li:hover>ul,
nav.primary-navigation ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
}

nav.primary-navigation ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
}

nav.primary-navigation ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
}

a:hover {
    color: #3CA0E7;
}

ul li ul li a {
    transition: all 0.5s ease;
}

nav.primary-navigation li a:hover {
    text-decoration: none;

}

/* Search */
.search__container {
    position: relative;
}

nav ul .search {
    width: 30rem;
}

.input-box {
    position: relative;
    height: 40px;
    max-width: 900px;
    width: 100%;
    background: #fff;
    margin: 0 20px;
    border-radius: 20px;
}

.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input-box i {
    left: 20px;
    font-size: 20px;
    color: #707070;
}

.input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: #f1f2f6;
    border-radius: 20px;
}

/* Responsive */
@media screen and (max-width: 1000px) {
    .input-box {
        height: 66px;
        margin: 0 8px;
    }

    .input-box i {
        left: 12px;
        font-size: 25px;
    }

    .input-box input {
        padding: 0 112px 0 50px;
    }
}


/*  */


#nav-horizontal {
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

#nav-horizontal ul li ul {
    background-color: white;
    z-index: 100;
}

@media screen and (max-width: 1100px) {
    #nav-horizontal {
        margin-left: 72px
    }

    .navbar-light .navbar-toggler {
        margin-left: 0px;
        display: flex;
    }

    #nav-horizontal ul {
        padding-left: 0px;
        display: grid;
    }

    #nav-horizontal ul li {
        padding: 5px;
    }

    nav ul li:hover::after {
        width: 0%;
    }

    #nav-horizontal ul li ul {
        background-color: white;
        z-index: 100;
    }

    #navbarSupportedContent {
        margin-left: 0;
    }

    nav ul .search {
        width: auto;
    }
}

@media screen and (max-width: 1300px) {
    nav ul .search {
        width: auto;
    }
}

/* =========nav sidebar============ */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    background: #ffffff;
    border-right: 1px solid #dbdbdb;
    transition: 0.3s;
}

.sidebar-header {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.sidebar a {
    height: 60px;
    background: transparent;
    border: 0;
    padding: 0;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: none;
    color: #000;
}

.sidebar a>span {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 0 12px;
    border-radius: 24px;
    line-height: 1;
}

.sidebar a:hover>span {
    background: #f2f2f2;
}

.sidebar a:hover>span :is(i, img) {
    scale: 1.05;
}

.sidebar a>span>span {
    transition: 0.3s;
}

@media (width < 1100px) {
    .sidebar-header {
        display: none !important;
    }

    .logo-icon {
        display: block;
    }

    .sidebar {
        width: 72px;
    }

    .sidebar a>span {
        width: 50px;
    }

    .sidebar a>span>span {
        opacity: 0;
        visibility: hidden;
    }
}

.sidebar a i {
    position: relative;
    font-size: 18px;
    transition: 0.2s;
}

.sidebar a img {
    width: 28px;
    height: 28px;
    transition: 0.2s;
}

.sidebar a i>span {
    display: grid;
    place-items: center;
    height: 20px;
    padding: 0 4px;
    border-radius: 10px;
    position: absolute;
    top: -5px;
    right: -10px;
    border: 1px solid #ffffff;
    background: #ff2f40;
    color: #f9f9f9;
    font-size: 12px;
    font-family: BlinkMacSystemFont;
    font-style: normal;
}

.sidebar a i>em {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    position: absolute;
    top: 2px;
    right: -1px;
    border: 1px solid #ffffff;
    background: #ff2f40;
    color: #f9f9f9;
    font-size: 12px;
    font-family: BlinkMacSystemFont;
    font-style: normal;
}

.sidebar a span {
    font-size: 17px;
}

.sidebar>nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar>nav a:last-child {
    margin-top: auto;
}

/* ==========main section========== */
.left__col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.main {
    margin-top: 2rem;
    margin-left: 15rem;
}

.main .cols__container {
    height: 620px;
}

.main .cols__container .left__col {
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;
    border-right: 1px solid #bebebe;
}

.main .cols__container .left__col .img__container {
    position: absolute;
    left: 45%;
    transform: translatex(-50%);
}

.main .cols__container .left__col .img__container img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}

.main .cols__container .left__col .img__container span {
    position: absolute;
    background: #2afa6a;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    bottom: 3px;
    right: 11px;
    border: 2px solid #fff;
}

.main .cols__container .left__col h2 {
    margin-top: 140px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
}

.main .cols__container .left__col p {
    font-size: 0.9rem;
    color: #818181;
    margin: 0;
}

.main .cols__container .left__col .about {
    justify-content: space-between;
    position: relative;
    margin: 35px 0;
}

.main .cols__container .left__col .about li {
    display: flex;
    flex-direction: column;
    color: #818181;
    font-size: 0.9rem;
}

.main .cols__container .left__col .about li span {
    color: #1d1d1d;
    font-weight: 600;
}

.main .cols__container .left__col .about:after {
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    background: #cccccc;
    height: 1px;
    width: 100%;
}

.main .cols__container .left__col .about a {
    text-decoration: none;
}

.main .cols__container .content p {
    font-size: 1rem;
    color: #1d1d1d;
    line-height: 1.8em;
}

/* .main .cols__container .right__col{
    height: 600px;
} */
.main .cols__container .right__col .photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 20px;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    height: 550px;
}

.main .cols__container .right__col .photos::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.main .cols__container .right__col .photos img {
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}

.main .cols__container .right__col .photos img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.right__col nav ul li:hover {
    text-align: none;
}

.main .cols__container .right__col h3 {
    font-size: 1.2rem;
    color: #1d1d1d;
    line-height: 1.8em;
    margin-bottom: 2rem;
}

.right__col hr {
    display: none;
}

/* Responsiveness */

@media (min-width: 868px) {
    .main .cols__container {
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 50px;
    }

    .main .cols__container .left__col {
        padding: 25px 0px;
    }

    .main .cols__container .right__col .photos {
        height: 550px;
        overflow: auto;
        padding: 0 0 30px;
    }
}

@media (min-width: 1017px) {
    .main .cols__container .left__col {
        margin: 0;
        margin-right: auto;
        padding-right: 2rem;
        min-width: -webkit-fill-available;
    }
}

@media (width < 1100px) {
    .main {
        margin-left: 60px;
        display: grid;
    }

    .main .cols__container .left__col .img__container {
        left: 50%;
    }

    .main .cols__container .right__col h3 {
        margin-left: 2rem;
        text-align: center;
    }

    .right__col hr {
        display: block;
    }
}

/* ======Detail Post========== */
#favDialog_detailPost {
    border: none;
    border-radius: 15px;
    width: 70rem;
}

#favDialog_detailPost button#close {
    border: none;
    background: white;
}

#favDialog_detailPost button i {
    right: 10px;
    top: 7px;
    cursor: pointer;
}

/* Post */

.post-container .post {
    width: 100%;
    background: #ffffff;
    display: grid;
    grid-template-columns: auto auto;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 1.2rem;
    gap: 10px;
}

.post-header .user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.post-header .username {
    font-size: .9rem;
    font-weight: 600;
}

.post-feed {
    width: 100%;
    height: 500px;
    position: relative;
}

.post-img-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.post-img-container img {
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.post-detail {
    padding: 1.2rem;
}

.detail-intracables {
    display: flex;
    gap: 20px;
}

.detail-intracables i {
    cursor: pointer;
    font-size: 25px;
}

.interest {
    color: #a0a0a0;
    display: flex;
    margin: 10px 0;
}

.post .username {
    font-weight: 600;
}

.post-des {
    margin: 0px 0px 20px 0px;
    font-size: .9rem;
    line-height: 1.5rem;
    opacity: 0.7;
    border: none;
    outline: none;
    height: 18rem;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.post-des::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.comment-box {
    width: 100%;
    height: 42px;
    display: flex;
    border-bottom: 1px solid #999;
}

#comment-input {
    width: 100%;
    height: 40px;
    background: white;
    border: none;
    padding: 10px;
    line-height: 40px;
    z-index: 2;
    font-size: 1rem;
    outline: none;

}

#comment-input::placeholder {
    color: #bbb;
}

.add-comment-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
    cursor: pointer;
    border: none;
    outline: none;
    background: #fff;
    color: black;
}

.add-comment-btn img {
    width: 30px;
    height: 30px;
}

.comment-count {
    font-weight: 600;
    color: #a0a0a0;
    font-size: .8rem;
    display: flex;
    margin-top: 10px;
    opacity: 0.7;
}

.post-overlays {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.like-icon {
    width: 200px;
    opacity: 0;
    transition: .5s;
}

.like-icon.show {
    opacity: 1;
    animation: popup 2s forwards 1;
}

/* options */
.info {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.info #options {
    height: 10px;
    cursor: pointer;
}

.dropdown-options {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 0rem;
}

.dropdown-content :hover {
    cursor: pointer;
}

.dropdown-options:hover .dropdown-content {
    display: block;
}

/* update post */
#favDialog_updatePost {
    border: none;
    border-radius: 15px;
    width: 55rem;
}

#favDialog_updatePost button#close2,
#favDialog_updatePost button#updatePosst {
    border: none;
    background: white;
    outline: none;
}

#favDialog_updatePost button#close2:active {
    outline: none;
}

.post-container-update .post {
    width: 100%;
    background: #ffffff;
    display: grid;
    grid-template-columns: auto auto;
}

.btn-updateForm {
    display: flex;
    justify-content: space-between;
}

.btn-updateForm p {
    font-weight: bold;
}

.btn-updateForm #updatePosst {
    color: #2192ff;
}

.left-post {
    border-right: 1px solid #dbdbdb;
}


.post-des-update {
    margin: 0px 0px 20px 0px;
    font-size: .9rem;
    line-height: 1.5rem;
    opacity: 0.7;
    border: none;
    outline: none;
    height: 10rem;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    text-align: justify;
}

.post-des-update::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.info-update {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.post-img-container-update {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.post-img-container-update img {
    /* min-width: 100%; */
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

@media (max-width: 500px) {

    #favDialog_detailPost,
    #favDialog_updatePost {
        overflow: auto;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        text-align: justify;
    }

    #favDialog_detailPost::-webkit-scrollbar,
    #favDialog_updatePost::-webkit-scrollbar {
        width: 0 !important;
        display: none;
    }

    .post {
        display: grid !important;
        grid-template-columns: auto !important;
    }

    .post-img-container,
    .post-img-container-update {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
    }

    .post-img-container img,
    .post-img-container-update img {
        width: 100%;
        object-fit: cover;
    }

    .post-des,
    .post-des-update {
        height: 5rem;
    }

    .btn-updateForm p {
        display: none;
    }

    .post-detail {
        padding: 0;
    }

    .left-post {
        border-right: none;
    }
}

/* =======dialog create post=========== */
.main_create_post {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem;

}

::selection {
    color: #fff;
    background: #1a81ff;
}

#favDialog,
.main_create_post.container {
    width: 500px;
    height: 480px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    transition: height 0.2s ease;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
    border: none;
}

#favDialog {
    padding: 0px !important;
    margin: 9rem 35rem;
}

#favDialog div#close_createPost {
    border: none;
}

#favDialog div .fa-xmark {
    position: absolute;
    right: 10px;
    top: 7px;
    cursor: pointer;
}

.container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.main_create_post.container.active {
    height: 590px;
}

.container .wrapper {
    width: 1000px;
    display: flex;
}

.container .wrapper section {
    width: 500px;
    border-radius: 10px;
}

.container img {
    cursor: pointer;
}

.container .post {
    transition: margin-left 0.18s ease;
    margin-bottom: 0px !important;
    height: 480px !important;
}

.container.active .post {
    margin-left: -100rem;
}

.post header {
    font-size: 22px;
    font-weight: 600;
    padding: 17px 0px 17px 40px;
    text-align: center;
    border-bottom: 1px solid #bfbfbf;
}

.post form {
    margin: 20px 25px;
}

.post form .content,
.audience .list li .column {
    display: flex;
    align-items: center;
}

.post form .content img {
    cursor: default;
    max-width: 52px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.post form .content .details {
    margin: -3px 0 0 12px;
}

form .content .details p {
    font-size: 17px;
    font-weight: 500;
}

.content .details .privacy {
    height: 25px;
    cursor: pointer;
    padding: 0 10px;
    font-size: 11px;
    margin-top: 3px;
    border-radius: 5px;
    align-items: center;
    max-width: 98px;
    background: #E4E6EB;
    justify-content: space-between;
}

.details .privacy span {
    font-size: 13px;
    margin-top: 1px;
    font-weight: 500;
}

.details .privacy i:last-child {
    font-size: 13px;
    margin-left: 1px;
}

form :where(textarea, button) {
    width: 100%;
    outline: none;
    border: none;
}

form textarea {
    resize: none;
    font-size: 18px;
    margin-top: 30px;
    min-height: 100px;
}

form textarea::placeholder {
    color: #858585;
}

form textarea:focus::placeholder {
    color: #b3b3b3;
}

form :where(.theme-emoji, .options) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.theme-emoji img:last-child {
    max-width: 24px;
}

form .options {
    height: 57px;
    margin: 15px 0;
    padding: 0 15px;
    border-radius: 7px;
    border: 1px solid #B9B9B9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

form .options :where(.list, li),
.audience :where(.arrow-back, .icon, li .radio) {
    display: flex;
    align-items: center;
    justify-content: center;
}

form .options p {
    color: #595959;
    font-size: 14px;
    font-weight: 500;
    cursor: default;
    margin-bottom: 0px;
}

form .options .list {
    list-style: none;
    margin-bottom: 0px;
}

.options .list li {
    height: 42px;
    width: 42px;
    margin: 0 -1px;
    cursor: pointer;
    border-radius: 50%;
}

.options .list li:hover {
    background: #f0f1f4;
}

.options .list li img {
    width: 23px;
}

form button {
    height: 53px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #BCC0C4;
    cursor: no-drop;
    border-radius: 7px;
    background: #e2e5e9;
    transition: all 0.3s ease;
}

form textarea:valid~button {
    color: #fff;
    cursor: pointer;
    background: #4599FF;
}

form textarea:valid~button:hover {
    background: #1a81ff;
}

.container .audience {
    opacity: 0;
    transition: opacity 0.12s ease;
}

.container.active .audience {
    opacity: 1;
    margin-left: 68.5rem;
}

.audience header {
    padding: 17px 0;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #bfbfbf;
}

.audience header .arrow-back {
    position: absolute;
    left: 25px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 15px;
    color: #747474;
    border-radius: 50%;
    background: #E4E6EB;
}

.audience header p {
    font-size: 22px;
    font-weight: 600;
    margin-left: 4.5rem;
    padding-top: 0.5rem;
}

.audience .content {
    margin: 20px 25px 0;
}

.audience .content p {
    font-size: 17px;
    font-weight: 500;
}

.audience .content span {
    font-size: 14px;
    color: #65676B;
}

.audience .list {
    margin: 15px 16px 20px;
    list-style: none;
}

.audience .list li {
    display: flex;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 12px 10px;
    border-radius: 7px;
    align-items: center;
    justify-content: space-between;
}

.list li.active,
.audience .list li.active:hover {
    background: #E5F1FF;
}

.audience .list li:hover {
    background: #f0f1f4;
}

.audience .list li .column .icon {
    height: 50px;
    width: 50px;
    color: #333;
    font-size: 23px;
    border-radius: 50%;
    background: #E4E6EB;
}

.audience .list li.active .column .icon {
    background: #cce4ff;
}

.audience .list li .column .details {
    margin-left: 15px;
}

.list li .column .details p {
    font-weight: 500;
}

.list li .column .details span {
    font-size: 14px;
    color: #65676B;
}

.list li .radio {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    border: 1px solid #707070;
}

.list li.active .radio {
    border: 2px solid #4599FF;
}

.list li .radio::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: inherit;
}

.list li.active .radio::before {
    background: #4599FF;
}


@media screen and (max-width: 1200px) {
    #favDialog {
        margin: 9rem 1.3rem;
    }

    .main_create_post {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0rem;

    }

    .container .wrapper section {
        width: 350px;
    }

    .container.active .audience {
        margin-left: 78rem;
    }

    form .options p {
        display: none;
    }

    .audience header p {
        font-size: 17px;
        margin-bottom: 0;
    }

    .audience .list li .column .icon {
        background: none;
    }
}

/* ========thông báo========= */
#favDialog_notifications {
    border: none;
    border-radius: 15px;
    outline: none;
    margin: 4rem 25rem;
}

#favDialog_notifications div#close_notifications {
    border: none;
}

#favDialog_notifications div i {
    position: absolute;
    right: 10px;
    top: 7px;
    cursor: pointer;
}

#favDialog_notifications {
    height: 600px;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

#favDialog_notifications::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.container_notifications {
    margin: 2rem;
    width: 700px;
    background-color: var(--White);
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}

header {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.notif_box {
    display: flex;
    align-items: center;
}

#notifes {
    background-color: var(--Blue);
    margin-left: 0.5rem;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: var(--White);
    font-weight: 800;
    border-radius: 0.5rem;
}

#mark_all {
    cursor: pointer;
}

#mark_all:hover {
    color: var(--Blue);
}

p {
    color: var(--Dark-grayish-blue);
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.notif_card {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.notif_card img {
    width: 50px;
    border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
}

.description {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

strong {
    color: var(--Very-dark-blue);
    cursor: pointer;
}

strong:hover {
    color: var(--Blue);
}

.unread {
    background-color: var(--Light-grayish-blue-1) !important;
}

.unread p:first-of-type::after {
    content: " ";
    background-color: var(--Red);
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
}

@media screen and (max-width : 550px) {
    .container_notifications {
        margin: 0;
        padding: 0;
        width: fit-content;
    }

    .container_notifications header {
        display: block !important;
    }

    .container_notifications main {
        max-width: 19rem;
    }

    #favDialog_notifications {
        margin: 8rem 2rem;
    }
}

/* Dialog follow */
#favDialog_follow {
    border: none;
    border-radius: 15px;
    width: 400px;
    margin: 10rem 35rem;
}

#favDialog_follow div#close_follow {
    border: none;
}

#favDialog_follow div i {
    position: absolute;
    right: 10px;
    top: 7px;
    cursor: pointer;
}

.list-following::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.list-following {
    height: 300px;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.follow {
    padding: 20px;
}

.profile-card-follow {
    width: auto;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin-bottom: 10px;
}

.profile-card-follow .profile-pic {
    flex: 0 0 auto;
    padding: 0;
    background: none;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.profile-card-follow:first-child .profile-pic {
    width: 70px;
    height: 70px;
}

.profile-card-follow .profile-pic img {
    border: none;
    width: 50px;
}

.profile-card-follow .username {
    font-weight: 500;
    font-size: 14px;
    color: #000;
}

.sub-text {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}

.action-btn {
    opacity: 1;
    font-weight: 700;
    font-size: 12px;
    border: none;
    background: white;
    color: #1a81ff;
    outline: none;
}

.action-btn:hover {
    scale: 1.05;
}

.suggestion-text {
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid #bebebe;
}

@media (max-width : 550px) {
    #favDialog_follow {
        margin: 13rem 1.3rem;
    }
}

/* End dialog follow */

/* Dialog setting */
#favDialog_setting {
    border: none;
    border-radius: 15px;
    width: 400px;
    margin: 13rem 35rem;
}

#favDialog_setting div#close_setting {
    border: none;
}

#favDialog_setting div i.fa-xmark {
    position: absolute;
    right: 10px;
    top: 7px;
    cursor: pointer;
}

/* language */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 1px solid #bebebe;
    border-radius: 5px;
    background: white;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: #000000;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 15em;
    height: 3em;
    line-height: 3;
    background: #e3e3e3;
    overflow: hidden;
    border-radius: .25em;
    margin: 0 4.1rem;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #c8c8c8;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: #000000;
}

@media (max-width : 550px) {
    #favDialog_setting {
        margin: 16rem 1.4rem;
    }
}

/* darkmode */
.darkmode {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

label.toggle-btn {
    width: 100px;
    height: 50px;
    /* background-color: #dbeede; */
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3);
    margin: 0 2rem;
}

span.toggle {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #ffbf00;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.205);
}

input#toggle-btn {
    display: none;
}

input:checked~label span {
    background-color: #000000;
    transform: translateX(50px);
}

.darkmode i.fa-sun,
.darkmode i.fa-cloud-moon {
    font-size: 30px;
}

/* btn account */
.button-container {
    display: flex;
    margin-top: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    padding: 12px 12px;
    cursor: pointer;
    transition: all 150ms linear;
    text-align: center;
    color: #fff;
    border: 0 none;
    border-radius: 36px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
    box-shadow: 2px 5px 10px #e4e4e4;
}

.button:hover {
    transition: all 150ms linear;
    opacity: .85;
}

.button:active {
    transition: all 150ms linear;
    opacity: .75;
}

.button:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
}

.button.-dark {
    color: #FFFFFF;
    background: #161616;
}

.button.-dark:focus {
    outline: 1px dotted white;
    outline-offset: -4px;
}

/* =====scroll========= */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}