:root {
	--body-font: "Inter", sans-serif;
	--theme-bg: #1f1d2b;
	--body-color: #808191;
	--button-bg: #353340;
	--border-color: rgba(128, 129, 145, 0.24);
	--video-bg: #252936;
	--delay: 0s;
}

.author-img_prof {
	width: 140px;
	height: 140px;
}

.profile-p-name {
	font-size: 25px;
	text-align: center;
	color: white;
}


.profile-p-name:after {
	content: "";
	width: 10px;
	height: 10px;
	background-color: #22b07d;
	border-radius: 50%;
	margin-left: 8px;
	display: inline-block;
}

.prof {
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 70px;
	margin-top: 200px;
}

.name {
	padding-left: 20px;
	font-size: 23px;
	margin-top: 20px;
	color: white;
	margin-bottom: 5px;
}

.profile-p-sub {
	padding-left: 20px;
}

.video-author-prof svg {
	background-color: #0aa0f7;
	width: 25px;
	right: 12px;
	bottom: 12px;
}

.details-prof {
	margin-top: -50px;
}

.video-content .nam {
	text-align: center;
	margin-top: -20px
}

.details-prof .fl {
	display: flex;
	justify-content: space-around;
	padding: 0 35%;
	font-size: 15;
}


/* Mobile */
@media (max-width: 46.1875em) {
	.details-prof .fl {
		display: block;
		padding: 0 10%;
		font-size: 12px;
	}

	.fl p {
		text-align: center;
	}
}

.video-detail {
	display: block;
}

.video-content {
	margin-bottom: 20px;
}

.user-img {}

.list-img-post {
	margin-top: 10px;
	display: flex;
	max-width: 100%;
	overflow-x: scroll;
}

.list-img-post::-webkit-scrollbar-thumb {
	background-color: rgb(78, 11, 103);
	border-radius: 10px;
}

.list-img-post::-webkit-scrollbar {
	height: 7px;
	border-radius: 10px;
}

.video-p-title {
	width: 100%;
}

.post {
	padding: 0 0px;
}

.video-p-subtitle {
	max-width: 100%;
}

.background-prof {
	margin-top: 0px;
	position: absolute;
}

.bc-p {
	background-color: #1F1D2B;
	position: fixed;
	margin-top: 340px;
	height: 350px;
	width: 100%;
}

/*=======================================================*/
 #favDialog_updatePost {
   border: none;
    border-radius: 15px;
    width: 55rem;
    max-height: 600px;
    background-color: var(--theme-bg);
    margin: 3.5rem 19rem;
    overflow: hidden;
} 

#favDialog_updatePost a#close2,
#favDialog_updatePost button#updatePosst {
    border: none;
    background-color: var(--theme-bg); 
    outline: none;
    color: #0DF6E3;
    text-decoration: none;
}

#favDialog_updatePost a#close2:active {
    outline: none;
}

.post-container-update .post {
    width: 100%;
    background-color: var(--theme-bg); 
    display: grid;
    grid-template-columns: auto auto;
}

.btn-updateForm {
    display: flex;
    justify-content: space-between;
    background-color: var(--theme-bg); 
}
.post-container-update .username{
	color: white;
}
.btn-updateForm p {
    font-weight: bold;
    color: white;
}

.btn-updateForm #updatePosst {
    color: white;
    background-color: var(--theme-bg); 
}

.left-post {
    border-right: 1px solid var(--border-color);
    padding: 0 0.5rem;
}

.post-detail{
	padding-left: 1rem;
}
.post-des-update {
    margin: 0px;
    font-size: .9rem;
    line-height: 1.5rem;
    opacity: 0.7;
    border: none;
    outline: none;
    height: 10rem;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    text-align: justify;
    background-color: var(--theme-bg); 
    color: white;
}

.post-des-update::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.info-update {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.post-img-container-update {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.post-img-container-update img {
    /* min-width: 100%; */
    height: 80%;
    object-fit: cover;
    transition: .5s;
    margin: 3rem 0;
}

/* btn-sendStatus */
.btn-sendStatus{
	background-color: var(--theme-bg); 
    color: white;
}
.btn-sendStatus button {
  border: none;
  display: flex;
  padding: 0.75rem 1.5rem;
  background-color: #0DF6E3;
   color: black;
  /*  background-color: var(--button-bg);  */
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.75rem;
 /*  box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17; */
  transition: all .6s ease;
  margin-top: 0.5rem;
}

.btn-sendStatus button:focus,button:active {
  opacity: .100;
  box-shadow: none;
  cursor: no-drop;
}

.btn-sendStatus button svg {
  width: 1.25rem;
  height: 1.25rem;
}

/* name product */
.name-product,
.hashtag,
.address{
 --width-of-input: 350px;
 --border-height: 1px;
 --border-before-color: rgba(221, 221, 221, 0.39);
 --border-after-color: #5891ff;
 --input-hovered-color: #4985e01f;
 position: relative;
 width: var(--width-of-input);
 margin-bottom: 1rem;
}

.input {
 background-color: var(--theme-bg); 
    color: white;
 font-size: 1rem;
 /* background-color: transparent; */
 width: 100%;
 box-sizing: border-box;
 padding-inline: 0.5em;
 padding-block: 0.7em;
 border: none;
 /* border-bottom: var(--border-height) solid var(--border-before-color); */
}
.input-border {
 position: absolute;
 background: var(--border-after-color);
 width: 0%;
 height: 2px;
 bottom: 0;
 left: 0;
 transition: 0.3s;
}

input:focus {
 outline: none;
}

input:focus ~ .input-border {
 width: 100%;
}
/*=====================Modal==================*/
.close-modal {
	color:  var(--theme-bg); 
}
.login-trigger {
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to bottom right, #B05574, #F87E7B);
  padding: 15px 30px;
  border-radius: 30px;
  position: relative; 
  top: 50%;
}

/*Modal*/
.modal-content {
  font-weight: bold;
   background-color: var(--theme-bg); 
}
.form-control {
  margin: 1em 0;
}
.form-control:hover, .form-control:focus {
  box-shadow: none;  
  border-color: #fff;
}
.username, .password {
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid #eee;
  padding-left: 0;
  font-weight: normal;
  background: transparent;  
}
.form-control::-webkit-input-placeholder {
  color: #eee;  
}
.form-control:focus::-webkit-input-placeholder {
  font-weight: bold;
  color: #fff;
}
.login {
  padding: 6px 20px;
  border-radius: 20px;
  background: none;
  border: 2px solid #FAB87F;
  color: #FAB87F;
  font-weight: bold;
  transition: all .5s;
  margin-top: 1em;
}
.login:hover {
  background: #FAB87F;
  color: #fff;
}
/*=====================end modal=======================*/
/*  */
@media (max-width: 500px) {

    #favDialog_detailPost,
    #favDialog_updatePost {
        overflow: auto;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        text-align: justify;
    }

    #favDialog_detailPost::-webkit-scrollbar,
    #favDialog_updatePost::-webkit-scrollbar {
        width: 0 !important;
        display: none;
    }

    .post {
        display: grid !important;
        grid-template-columns: auto !important;
    }

    .post-img-container,
    .post-img-container-update {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
    }

    .post-img-container img,
    .post-img-container-update img {
        width: 100%;
        object-fit: cover;
    }

    .post-des,
    .post-des-update {
        height: 5rem;
    }

    .btn-updateForm p {
        display: none;
    }

    .post-detail {
        padding: 0;
    }

    .left-post {
        border-right: none;
    }
}


/*=============cmt============ */
.div{
	display: grid; 
	 grid-template-columns: 50% 50%; 
	grid-column-gap: 20px;
}
.modal-dialog{
	margin: 0;
}
/*  */
