@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

:root {
    --primary-color: #3685fb;
    --primary-color-dark: #2f73d9;
    --secondary-color: #fafcff;
    --text-dark: #0d213f;
    --text-light: #767268;
    --extra-light: #ffffff;
    --max-width: 1200px;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.section__title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.section__subtitle {
    font-size: 1rem;
    color: var(--text-dark);
    max-width: calc(var(--max-width) / 2);
    margin-bottom: 1rem;
}

.animated-word {
    display: flex;
}

.letter {
    transition: 0.4s;
    transform: translateX(0);
    cursor: grab;
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 800;
    color: var(--text-dark);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.letter:hover {
    transform: translateY(-1rem);
    background: -webkit-linear-gradient(120deg, hsl(19, 90%, 52%),
            hsl(56, 100%, 50%));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--extra-light);
    background-color: var(--primary-color);
    border-radius: 5rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--primary-color-dark);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

body {
    font-family: "Poppins", sans-serif;
}


header {
    background-color: var(--secondary-color);
}
.header__container {
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.header__image {
    position: relative;
}

.header__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 0.5rem solid var(--extra-light);
    border-radius: 2rem;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.header__image img:nth-child(1) {
    max-width: 350px;
    transform: translate(-75%, -50%);
}

.header__image img:nth-child(2) {
    max-width: 250px;
    transform: translate(0%, -25%);
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__content>div {
    max-width: 400px;
    display: grid;
    gap: 1rem;
}

.header__content h1 {
    font-size: 2.6rem;
    line-height: 4rem;
    font-weight: 800;
    color: var(--text-dark);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header__content .action__btns {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}
/* mouse */
.container_mouse{
    display: flex;
    justify-content: center;
    align-items: center;
}
.field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}
.mouse {
    width: 35px;
    height: 60px;
    border: 3px solid #333;
    border-radius: 60px;
    position: relative;
}
.mouse::before {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
}
@keyframes wheel {
    to {
        opacity: 0;
        top: 60px;
    }
}
@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 60px;
    }
}


/* end mouse */
.destination__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.destination__card {
    overflow: hidden;
    position: relative;
    isolation: isolate;
    cursor: pointer;
}

.destination__card img {
    border-radius: 1rem;
}

.destination__details {
    position: absolute;
    width: calc(100% - 2rem);
    padding: 1rem;
    bottom: -6rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--extra-light);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    z-index: 1;
    transition: 0.3s;
}

.destination__card:hover .destination__details {
    bottom: 1rem;
}

.destination__subtitle {
    font-size: 1rem;
    font-weight: 600;
}

.introduce {
    background-color: var(--secondary-color);
}

.introduce__container :is(.section__title, .section__subtitle, .view__all) {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.reason__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-top: 8rem;
}

.image__reason {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.reason__col {
    display: grid;
    place-content: center;
    gap: 1rem;
}

.reason__col img {
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.reason__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reason__content>div {
    max-width: 400px;
}

.reason__content .section__subtitle {
    margin-bottom: 2rem;
}

.footer {
    background-color: var(--text-dark);
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    color: var(--secondary-color);
}

.footer__col h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.footer__col h3 span {
    color: var(--primary-color);
}

.footer__col p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.footer__col p:hover {
    color: var(--primary-color);
}

.footer__col p span {
    font-weight: 600;
}

.footer__col h4 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.footer__bar {
    max-width: var(--max-width);
    margin: auto;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    color: var(--secondary-color);
    border-top: 1px solid var(--text-light);
}

@media (width < 1200px) {
    .header__image img:nth-child(1) {
        max-width: 300px;
    }

    .header__image img:nth-child(2) {
        max-width: 200px;
    }
}

@media (width < 900px) {
    .nav__links {
        display: none;
    }

    .header__container {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 1rem;
    }

    .header__image {
        min-height: 400px;
    }

    .destination__grid {
        gap: 1rem;
    }

    .introduce__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .container_mouse{
        display: none;
    }
}

@media (width < 600px) {
    .destination__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .introduce__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .reason__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .subscribe__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* =====scroll========= */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}