* {
    box-sizing: border-box;
  }
  
  body {
    background-image: linear-gradient(142deg,#9861c2, #5cc0de);
    font-family: "Lato", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
  }
  
  .container{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 30px;
    max-width: 1000px;
    text-align: center;
  }
  
  .code-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 0;
  }
  span{
  	font-size: 18px;
    opacity: .8;
    color: red;
  }
  .code{
    caret-color: black;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    min-width: 400px;
    height: 80px;
    margin: 10px;
    text-align: center;
    font-weight: 300;
  }
  
  @media (max-width: 600px) {
    .code-container{
      flex-wrap: wrap;
    }
    .code{
      font-size: 24px;
      height: 50px;
      max-width: 50px;
      font-size: bold;
    }
  }
  .code::placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .btn{
    font-family: "Lato", sans-serif;
    min-width: 400px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    margin: 0px 0px 20px 0px;
    padding: 0.775rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 0.7;
  }
  
  .btn-primary{
    color: #fff;
    background-color: #9861c2;
    border-color: #9861c2;
    margin-top: 30px;
  }

  .info a{
    text-decoration: none;
  }
  